In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('data\immo_data_dirty.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [4]:
df.drop_duplicates()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,ONE_YEAR_FREE,NaN,False,True,0,2.74,10.0,...,Weilheim_Schongau_Kreis,Eberfing,"Diese schöne, neuwertige Wohnung im Dachgescho...",Fliesen und Parkett. Sichtbarer Dachstuhl.,NaN,NaN,NaN,NaN,NaN,Feb20
268846,Hessen,220.00,gas_heating,NaN,NaN,False,True,12,6.49,NaN,...,Bergstraße_Kreis,Viernheim,Hier wird eine Wohnung im 2 Familienhaus angeb...,"Parkett, Kamin, Badewanne&Dusche\nGroßer Balko...",NaN,NaN,2015.0,NaN,NaN,May19
268847,Hessen,220.00,central_heating,ONE_YEAR_FREE,NaN,False,True,21,2.90,40.0,...,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn,gemütliche 4-Zimmer-Wohnung im Obergeschoss ei...,"Böden: Wohn-/Schlafbereich = Laminat, Küche + ...",NaN,NaN,2019.0,NaN,NaN,Feb20
268848,Nordrhein_Westfalen,175.00,heat_pump,NaN,NaN,True,True,16,4.39,NaN,...,Köln,Dellbrück,"Neubau Erstbezug, gehobener Standard, alle Ein...","Wände:\nMaler­vlies, weiß gestrichen alter­nat...",40.00,NO_INFORMATION,2019.0,NaN,NaN,May19
268849,Hessen,315.00,central_heating,NaN,NaN,False,True,9,5.00,NaN,...,Frankfurt_am_Main,Sossenheim,"Schöne, helle, gut geschnittene und teilmöblie...","Balkon, Keller, Fahrstuhl, Vollbad, Einbauküch...",NaN,NaN,NaN,NaN,NaN,Feb20

In [5]:
df.isna().sum()

regio1                           0
serviceCharge                 6909
heatingType                  44856
telekomTvOffer               32619
telekomHybridUploadSpeed    223830
newlyConst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomUploadSpeed           33358
totalRent                    40517
yearConstructed              57045
scoutId                          0
noParkSpaces                175798
firingTypes                  56964
hasKitchen                       0
geo_bln                          0
cellar                           0
yearConstructedRange         57045
baseRent                         0
houseNumber                  71018
livingSpace                      0
geo_krs                          0
condition                    68489
interiorQual                112665
petsAllowed                 114573
street                           0
streetPlain                  71013
lift                             0
baseRentRange                    0
typeOfFlat                   36614
geo_plz                          0
noRooms                          0
thermalChar                 106506
floor                        51309
numberOfFloors               97732
noRoomsRange                     0
garden                           0
livingSpaceRange                 0
regio2                           0
regio3                           0
description                  19747
facilities                   52924
heatingCosts                183332
energyEfficiencyClass       191063
lastRefurbish               188139
electricityBasePrice        222004
electricityKwhPrice         222004
date                             0
dtype: int64

Menjadikan semua nama column huruf kecil .

In [6]:
# Normalisasi nama kolom
df.columns = df.columns.str.lower()  # Mengubah menjadi lowercase
df.columns = df.columns.str.replace(' ', '_')  # Mengubah spasi menjadi underscore
df.columns = df.columns.str.replace('[^\w\s]', '')  # Menghapus karakter selain huruf dan underscore

In [7]:
df.columns

Index(['regio1', 'servicecharge', 'heatingtype', 'telekomtvoffer',
       'telekomhybriduploadspeed', 'newlyconst', 'balcony', 'picturecount',
       'pricetrend', 'telekomuploadspeed', 'totalrent', 'yearconstructed',
       'scoutid', 'noparkspaces', 'firingtypes', 'haskitchen', 'geo_bln',
       'cellar', 'yearconstructedrange', 'baserent', 'housenumber',
       'livingspace', 'geo_krs', 'condition', 'interiorqual', 'petsallowed',
       'street', 'streetplain', 'lift', 'baserentrange', 'typeofflat',
       'geo_plz', 'norooms', 'thermalchar', 'floor', 'numberoffloors',
       'noroomsrange', 'garden', 'livingspacerange', 'regio2', 'regio3',
       'description', 'facilities', 'heatingcosts', 'energyefficiencyclass',
       'lastrefurbish', 'electricitybaseprice', 'electricitykwhprice', 'date'],
      dtype='object')

In [8]:
df.numberoffloors.value_counts()

numberoffloors
3.0      50822
4.0      39862
2.0      37350
5.0      19833
1.0       8463
6.0       6282
7.0       2555
0.0       1371
8.0       1133
11.0      1004
10.0       572
9.0        514
14.0       239
12.0       195
16.0       170
13.0       169
15.0       122
17.0       103
18.0        73
20.0        65
19.0        55
23.0        29
21.0        28
22.0        25
40.0        12
26.0         7
27.0         6
31.0         5
24.0         5
33.0         4
25.0         3
36.0         3
34.0         3
999.0        3
45.0         3
30.0         3
28.0         2
800.0        2
42.0         2
32.0         2
99.0         2
43.0         2
410.0        1
29.0         1
200.0        1
730.0        1
600.0        1
370.0        1
90.0         1
41.0         1
594.0        1
400.0        1
54.0         1
92.0         1
378.0        1
301.0        1
252.0        1
Name: count, dtype: int64

Menganti kolum

In [9]:
df.drop(['electricitykwhprice','electricitybaseprice','lastrefurbish','energyefficiencyclass','facilities','description','housenumber'],axis=1,inplace =True)

In [10]:
# Replace NaN values based on specified conditions
df['petsallowed'] = df['petsallowed'].fillna('no')
df['interiorqual'] = df['interiorqual'].fillna('none')
df['condition'] = df['condition'].fillna('not_specified')
df['typeofflat'] = df['typeofflat'].fillna('not_specified')
df['telekomtvoffer']=df['telekomtvoffer'].fillna('NONE')
df['telekomhybriduploadspeed']=df['telekomhybriduploadspeed'].fillna(0)
df['noparkspaces']=df['noparkspaces'].fillna(0)
df['telekomuploadspeed']=df['telekomuploadspeed'].fillna(0)
df['yearconstructedrange']=df['yearconstructedrange'].fillna(8.0)
# Replace missing values in heatingcost with the mean
df['heatingcosts'] = df['heatingcosts'].fillna(df['heatingcosts'].mean())
df['thermalchar'] = df['thermalchar'].fillna(df['thermalchar'].mean())
  

df['numberoffloors'] = df['numberoffloors'].fillna(method='bfill')
# Handle missing values in servicecharge
df['servicecharge'] = df['servicecharge'].fillna(0)  # You can use mean() or other strategies instead of 0

# Handle missing values in pricetrend
df['pricetrend'] = df['pricetrend'].fillna(df['pricetrend'].mean())  # You can use other strategies as needed

# Handle missing values in heatingtyped
df['heatingtype'] = df['heatingtype'].fillna('not_specified')  # Replace with a suitable category
# Handle missing values in totalrent
df['totalrent'] = df['totalrent'].fillna(df['totalrent'].mean())  # You can use other strategies as needed

# Handle missing values in yearconstructed
df['yearconstructed'] = df['yearconstructed'].fillna(df['yearconstructed'].median())  # You can use other strategies as needed

# Handle missing values in firingtypes
df['firingtypes'] = df['firingtypes'].fillna('not_specified')  # Replace with a suitable category

# Handle missing values in streetplain
df['streetplain'] = df['streetplain'].fillna('not_specified')  # Replace with a suitable category

# Handle missing values in floor
df['floor'] = df['floor'].fillna(df['floor'].median())  # You can use other strategies as needed

C:\Users\stani\AppData\Local\Temp\ipykernel_40016\2161124446.py:16: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['numberoffloors'] = df['numberoffloors'].fillna(method='bfill')

In [11]:
df.heatingtype.value_counts()

heatingtype
central_heating                   128977
not_specified                      44856
district_heating                   24808
gas_heating                        19955
self_contained_central_heating     19087
floor_heating                      17697
oil_heating                         5042
heat_pump                           2737
combined_heat_and_power_plant       1978
night_storage_heater                1341
wood_pellet_heating                  961
electric_heating                     901
stove_heating                        344
solar_heating                        166
Name: count, dtype: int64

In [12]:
['entral_heating',                  
'not_specified',                      
'district_heating',                   
'gas_heating',                        
'self_contained_central_heating',     
'floor_heating',                      
'oil_heating',                         
'heat_pump',                           
'combined_heat_and_power_plant',       
'night_storage_heater',                
'wood_pellet_heating',                
'electric_heating',                     
'stove_heating',                        
'solar_heating']

['entral_heating',
 'not_specified',
 'district_heating',
 'gas_heating',
 'self_contained_central_heating',
 'floor_heating',
 'oil_heating',
 'heat_pump',
 'combined_heat_and_power_plant',
 'night_storage_heater',
 'wood_pellet_heating',
 'electric_heating',
 'stove_heating',
 'solar_heating']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 42 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   servicecharge             268850 non-null  float64
 2   heatingtype               268850 non-null  object
 3   telekomtvoffer            268850 non-null  object
 4   telekomhybriduploadspeed  268850 non-null  float64
 5   newlyconst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                268850 non-null  float64
 9   telekomuploadspeed        268850 non-null  float64
 10  totalrent                 268850 non-null  float64
 11  yearconstructed           268850 non-null  float64
 12  scoutid                   268850 non-null  int64
 13  noparkspaces              268850 non-null  float64
 14  firingtypes               268850 non-null  object
 15  haskitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearconstructedrange      268850 non-null  float64
 19  baserent                  268850 non-null  float64
 20  livingspace               268850 non-null  float64
 21  geo_krs                   268850 non-null  object
 22  condition                 268850 non-null  object
 23  interiorqual              268850 non-null  object
 24  petsallowed               268850 non-null  object
 25  street                    268850 non-null  object
 26  streetplain               268850 non-null  object
 27  lift                      268850 non-null  bool
 28  baserentrange             268850 non-null  int64
 29  typeofflat                268850 non-null  object
 30  geo_plz                   268850 non-null  int64
 31  norooms                   268850 non-null  float64
 32  thermalchar               268850 non-null  float64
 33  floor                     268850 non-null  float64
 34  numberoffloors            268850 non-null  float64
 35  noroomsrange              268850 non-null  int64
 36  garden                    268850 non-null  bool
 37  livingspacerange          268850 non-null  int64
 38  regio2                    268850 non-null  object
 39  regio3                    268850 non-null  object
 40  heatingcosts              268850 non-null  float64
 41  date                      268850 non-null  object
dtypes: bool(6), float64(15), int64(6), object(15)
memory usage: 75.4+ MB

In [14]:
df.yearconstructed.mean()

1967.8008629347219

In [16]:
df.date

0         May19
1         May19
2         Oct19
3         May19
4         Feb20
          ...
268845    Feb20
268846    May19
268847    Feb20
268848    May19
268849    Feb20
Name: date, Length: 268850, dtype: object